.mainContent {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    align-items: center;
    background: #5BC0EB;
    width: 100vw;
    height: 100vh;
}

.block {
    background: #6A706E;
    /* width: 100em;
    height: 100em; */
    border-radius: 10px;
    color: whitesmoke;
}