.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5BC0EB;
    width: 100vw;
    height: 100vh;
}

.formBlock {
    background: #6A706E;
    padding: 150px 100px;
    border-radius: 67px 10px 68px 10px;
    color: whitesmoke;
}

.title {
    margin-bottom: 30px;
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}